.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .counter-button {
        padding: .5rem;
        border-radius: 5px;
        cursor: pointer;
        font-family: monospace;
        font-size: 1.5rem;
        line-height: 1;
    }

    .counter-value {
        font-size: 2rem;
        font-weight: bold;
    }
}