*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bg-color: #2D302F;
    --text-color: #e9ecef;
    --accent-color: #343a40;
    font-size: 16px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
        padding: 1rem 3rem;
        border-bottom: 2px solid var(--accent-color);

        .form-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .form {
                width: min(600px, 80vw);
                display: flex;
                overflow: hidden;
                border-radius: 10px;
                
                .form-field {
                    flex-grow: 1;

                    &:focus {
                        outline: none;
                    }
                }

                .form-submit {
                    cursor: pointer
                }

                .form-field,
                .form-submit {
                    padding: .5rem;
                }
            }
        }
    }

    .main {
        flex: 1 0 auto;

        & h1 {
            text-align: center;
            margin-block: 2rem;
            font-weight: 700;
        }

        .todos {
            width: min(600px, 80vw);
            margin-inline: auto;

            .todos-group {
                margin-bottom: 1rem;

                .todos-date {
                    font-size: 1.1rem;
                    margin-bottom: .3rem;
                    opacity: .8;
                }

                .todo-card {
                    padding: 1rem;
                    background-color: var(--accent-color);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 2rem;
                    margin-bottom: .5rem;
    
                    .todo {
                        font-size: 1.2rem;
                    }
    
                    .todo-control {
                        & button {
                            padding: .5rem;
                            border-radius: 10px;
                            cursor: pointer;
                        }
                    }
    
                    &.complited {
                        opacity: .36;
    
                        .todo {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
    
    .footer {
        padding: 1rem 3rem;
        text-align: center;
        font-size: 1rem;
        border-top: 2px solid var(--accent-color);
    }
}
